*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cab-booking-main-container{
    background-image: url(./assert/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.cab-booking-main-container-header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding:2rem 7% ;
}
.cab-booking-main-container-navbar{
    /* border: 2px solid red; */
    margin-left: 4rem;
}
.cab-booking-main-container-navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.cab-booking-main-container-navbar a:hover{
    background-color:#ffc61a ;
    border-radius: 25px;
    padding: .5rem 2rem;
}
/* #menu-bars{
    color: white;
    font-size: 2rem;
    display: none;
} */
.cab-booking-main-container-text{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}
.cab-booking-main-container-text span{
    color: #ffc61a;
}
.cab-booking-main-container-taxi-img{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.cab-booking-home-container{
    /* border: 2px solid red; */
    background: #ffc61a;
    width: 100%;
    padding: 2rem 7%;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cab-booking-home-container-content{
    /* width: 60rem; */
    /* border: 2px solid red; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 4rem;
}
.cab-booking-home-container-content h3{
    font-size: 2rem;
}
.cab-booking-home-container-content h2{
    font-size: 2.5rem;
    color: #232121;
    margin-bottom: 1rem;
}
.cab-booking-home-container-content p{
    font-size: 1.3rem;
    color: rgb(59, 51, 51);
    padding-bottom: 50px;
}
.booknow{
    padding: 1rem 2.5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid black;
    text-decoration: none;
    transition: 0.5s;
}
.booknow:hover{
    padding: 1rem 3rem;
    border: 1px solid white;
    border-radius: 25px;
    background: white;
}
.cab-booking-home-container-contact-form{
    /* width: 100%; */
    width: 45rem;
    background: white;
    text-align: center;
    /* border: 2px solid red; */
    margin-left: 1rem;
    padding: 2rem 1rem;
    margin-top: 5rem;
}
.cab-booking-home-container-contact-form h1{
    text-align: center;
    background: black;
    color: white;
    padding: 1.5rem 0rem;
}
form{
    /* border: 2px solid red; */
}
form input{
    padding: 2rem 2rem 1rem 2rem ;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    outline: none;
}
.cab-booking-home-container-contact-form-submit-button{
    background: black;
    width: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.cab-booking-home-container-contact-form-submit-button:hover{
    
}
.cab-booking-main-tariff{
    /* border: 2px solid red; */
    padding: 3rem 7%;
}
.cab-booking-main-tariff h1{
    text-align: center;
    padding-bottom: 6rem;
    font-size: 3.5rem;
}
.cab-booking-main-tariff h1 span{
    color: #ffc61a;
}
.cab-booking-main-tariff-linner-tariff{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.cab-booking-main-tariff-card{
    /* border: 2px solid red; */
    text-align: center;
    padding: 3rem 0;
    flex: 1 1 250px;
    margin-bottom: 40px;
}
.cab-booking-main-tariff-card img{
    width: 60%;
    margin-top: -100px;
}
.cab-booking-main-tariff-card-content h2{
    font-size: 2.5rem;
}
.cab-booking-main-tariff-card-content p{
    font-size: 1.2rem;
    padding: 2rem;
}
.cab-booking-main-tariff-card-content h3{
    color: #ffc61a;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.cab-booking-main-tariff-card-content a{
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.cab-booking-main-tariff-card-content a:hover{
    background-color: transparent;
    color:black;
    border: 2px solid black;
    font-weight: 500;
}
.cab-booking-main-tariff-card-content .price-color{
    color: black;
}
.yellow-container{
    background: #ffc61a;
}
.cab-booking-fast-booking-container{
    background-image: url(./assert/secbg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
}
.cab-booking-fast-booking-container h2{
     color: #ffc61a;
     font-size: 3.5rem;
     text-align: center;
     padding-top: 1rem;
}
.cab-booking-fast-booking-container-booking-steps{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}
.cab-booking-fast-booking-container-booking-content{
    /* border: 2px solid red; */
    color: white;
    padding: 30px 59px;
}
.cab-booking-fast-booking-container-booking-content h3{
    color: #ffc61a;
    font-size: 1.7rem;
    
}
.cab-booking-fast-booking-container-booking-content h3 i{
    color:white;
    padding:  5px 10px;
    background-color: #ffc61a;
    font-size: 1rem;
    border-radius: 25px;
    margin-right: 1rem;
}
.cab-booking-fast-booking-container-booking-content p{
    font-size: 1.2rem;
    margin-left: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.cab-booking-feedback{
    /* border: 2px solid red; */
    background-image: url(./assert/testimonial\ back.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 2rem 7%;
}
.cab-booking-feedback h2{
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #ffc61a;
}
.cab-booking-feedback-container{
    /* border: 2px solid red; */
    display:flex;
    /* align-items: center; */
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    /* border-radius: 15px; */
    flex: 1 1 45rem;
}
.cab-booking-feedback-container-card{
    /* border: 2px solid red; */
    width: 25rem;
    color: white;
    background: black;
    padding: 2rem;
    border-radius: 15px;
    transition: 0.9s;
    
}
.cab-booking-feedback-container-card-content{
    display: flex;
    margin-top: 1.5rem;
}
.cab-booking-feedback-container-card-content img{
    width: 4rem;
    margin-right: 2rem;
}
.user-details{
    margin-top: .9rem;
}
.user-details h6{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
.cab-booking-feedback-container-card:hover{
    background-color: #ffc61a;
    color: black;
    font-weight: 900;
    transform: translateY(-15px);
}